header {
	background-color: #05386B;
	padding: 20px;
	text-align: center;
	font-size: 40px;
	color: aliceblue;
}
body {
	margin: 0;
	padding: 0;
	background-color: #5CDB95;
}
/* new code from https://uiverse.io/vinodjangid07/quick-moth-22
should create a powerswitch that I will toggle AR on and off. */
#overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(128, 0, 128, 0.5);
	z-index: 9999;
  	visibility: hidden;
	pointer-events: none;
}
.image-container{
	display:flex;
	flex-wrap: wrap;
	
}

.image-container img {
  width: 350px;
  height: auto;
  margin: 10px;
  top: -40px;
  right: 10px;
}

#hiddenimg{
	display: inline-block;
	margin-right: 40%;
	visibility: hidden;
	bottom: 20px;
}
#hiddentxt{
  visibility: hidden;
  text-align: center;
  font-size: 20px;
  color: red
}

#checkbox {
	display: none;
  }
  .clickme {
	position:fixed;
	bottom:120px;
	right: 20px;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-size: 12px;


  }
  
  .switch {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 100px;
	height: 100px;
	background-color: rgb(99, 99, 99);
	border-radius: 50%;
	z-index: 1;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid rgb(126, 126, 126);
	box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
  }
  
  .powersign {
	position: relative;
	width: 30%;
	height: 30%;
	border: 4px solid rgb(48, 48, 48);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .powersign::before {
	content: "";
	width: 8px;
	height: 100%;
	background-color: rgb(99, 99, 99);
	position: absolute;
	top: -60%;
	z-index: 2;
  }
  
  .powersign::after {
	content: "";
	width: 4px;
	height: 100%;
	background-color: rgb(48, 48, 48);
	position: absolute;
	top: -60%;
	z-index: 3;
  }
  
  #checkbox:checked + .switch .powersign {
	border: 4px solid rgb(255, 255, 255);
	box-shadow: 0px 0px 10px rgb(151, 243, 255),
	  0px 0px 5px rgb(151, 243, 255) inset;
  }
  
  #checkbox:checked + .switch .powersign::after {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(151, 243, 255);
  }
  
  #checkbox:checked + .switch {
	box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
	  0px 0px 2px rgb(151, 243, 255) inset,
	  0px 0px 10px rgb(151, 243, 255) inset,
	  0px 0px 40px rgb(151, 243, 255),
	  0px 0px 100px rgb(151, 243, 255),
	  0px 0px 5px rgb(151, 243, 255);
	border: 2px solid rgb(255, 255, 255);
	background-color: rgb(146, 180, 184);
  }
  
  #checkbox:checked + .switch .powersign::before {
	background-color: rgb(146, 180, 184);
  }
  /* Works because it does, like magnets, no one knows how it works */
  
.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 15%;
	height: 100%;
	background-color: #EDF5E1;
	padding: 20px;
}
nav {
	margin-top: 20px;
	border: 1px solid #000; /* Add border */
	padding: 10px; /* Add padding */
  }
  
  ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  li {
	margin-bottom: 10px;
	border-bottom: 1px solid #000; /* Add border-bottom for separating lines */
	padding-bottom: 5px; /* Add padding-bottom for separating lines */
  }
  
  li:last-child {
	border-bottom: none; /* Remove border-bottom for the last menu item */
  }
  
  li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #000;
  }
  
  li a:hover {
	color: red;
  }
.images {
	display: inline-block;
	position: relative;
	
	margin-left: 50%;
	width: 500px;
}
.content {
	margin-right: 25%;
	padding: 20px;
	
}
.subheader {
	font-size: 50;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 20px;
}
.information {
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: left;
	width: 50%;
	
}
#section1 {
	background-color: #8EE4AF;
	
}

#section2 {
	background-color: #379683;
}
#section3 {
	background-color: #8EE4AF;;
}
/*from cssportal.com flex box generator*/
.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: normal;
	align-content: normal;
  }
  
  .flex-row-items:nth-child(1) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
  }
  
  .flex-row-items:nth-child(2) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
  }
  .flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: normal;
	align-content: normal;
	margin-right: 60px;
	margin-bottom: 20px;
  }
  
  .flex-column-items:nth-child(1) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
  }
  
  .flex-column-items:nth-child(2) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
  }
  

#section4 {
	background-color: #379683;
}
#section5 {
	background-color: #8EE4AF;;
}
.toptext{
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: left;
	margin-left: 20px;
}
.blockimages{
	width: 500px;
	display: inline-block;
	margin-left: 50%;
	margin-bottom: 20px;
}
/* flip card from w3schools thank (insert diety here or don't free world) for that website */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10%;
	margin-left: 12%;
	margin-top: 50px;
  }
  
  .flip-card {
	background-color: transparent;
	width: 450px;
	height: 300px;
	border: 1px solid #f1f1f1;
	perspective: 1000px;
	margin-bottom: 20px;
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  
  .flip-card-front {
	background-color: #bbb;
	color: black;
  }
  
  .flip-card-back {
	background-color: dodgerblue;
	color: white;
	transform: rotateY(180deg);
  }
  .slidebutton {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-family: helvetica;
	font-weight: bold;
	color: #14396A !important;
	font-size: 15px;
	text-shadow: 1px 1px 0px #7CACDE;
	box-shadow: 1px 1px 1px #BEE2F9;
	padding: 10px 25px;
	border-radius: 10px;
	border: 2px solid #3866A3;
	background: #63B8EE;
	background: linear-gradient(to top, #63B8EE, #468CCF);
  }
  .slidebutton:hover {
	color: #14396A !important;
	background: #468CCF;
	background: linear-gradient(to top, #468CCF, #63B8EE);
  }
  .slide-container {
	width: 600px;
	height: 300px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	bottom: 10px;
  }
  
  .slide {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  
  }
  
  .slide.active-slide {
	display: block;
  }
  .slide-animation {
	animation-name: slideAnimation;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
  }
  
  @keyframes slideAnimation {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(-100%);
	}
  }
  .article-container {
	display: flex;
	justify-content: space-between;
  }
  
  .article {
	width: 30%;
  }
  
  .article-link {
	display: block;
	text-decoration: none;
  }
  
  .article-image {
	width: 100%;
  }
  
  .article-title {
	margin-top: 10px;
  }
  