body {
	margin: 0;
	padding: 0;
	background-color: white;
}

header {
	background-color: beige;
	padding: 20px;
	text-align: center;
	font-size: 40px;
}

.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 15%;
	height: 100%;
	background-color: powderblue;
	color: white;
	padding: 20px;
}
.images {
	text-align: right;
}
.content {
	margin-right: 25%;
	padding: 20px;
}
.subheader {
	font-size: 50;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 20px;
}
.information {
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	text-align: left;
}
.section1 {
	background-color: white;

}

.section2 {
	background-color: beige;
}
.section3 {
	background-color: white;
}

.section4 {
	background-color: beige;
}
.section5 {
	background-color: white;
}

.diagram {
	width: 100%;
	height: 300px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

nav a:hover {
	color: purple;
}
