body {
	margin: 0;
	padding: 0;
	background-color: #5CDB95;
}

header {
	background-color: #05386B;
	padding: 20px;
	text-align: center;
	font-size: 40px;
	color: aliceblue;
}
/* new code from https://uiverse.io/vinodjangid07/quick-moth-22
should create a powerswitch that I will toggle AR on and off. */
#overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(128, 0, 128, 0.5);
	z-index: 9999;
	visibility: hidden;
  
}

#checkbox {
	display: none;
  }
  .clickme {
	position:fixed;
	bottom:120px;
	right: 20px;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-size: 12px;


  }
  
  .switch {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 100px;
	height: 100px;
	background-color: rgb(99, 99, 99);
	border-radius: 50%;
	z-index: 1;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid rgb(126, 126, 126);
	box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
  }
  
  .powersign {
	position: relative;
	width: 30%;
	height: 30%;
	border: 4px solid rgb(48, 48, 48);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .powersign::before {
	content: "";
	width: 8px;
	height: 100%;
	background-color: rgb(99, 99, 99);
	position: absolute;
	top: -60%;
	z-index: 2;
  }
  
  .powersign::after {
	content: "";
	width: 4px;
	height: 100%;
	background-color: rgb(48, 48, 48);
	position: absolute;
	top: -60%;
	z-index: 3;
  }
  
  #checkbox:checked + .switch .powersign {
	border: 4px solid rgb(255, 255, 255);
	box-shadow: 0px 0px 10px rgb(151, 243, 255),
	  0px 0px 5px rgb(151, 243, 255) inset;
  }
  
  #checkbox:checked + .switch .powersign::after {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(151, 243, 255);
  }
  
  #checkbox:checked + .switch {
	box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
	  0px 0px 2px rgb(151, 243, 255) inset,
	  0px 0px 10px rgb(151, 243, 255) inset,
	  0px 0px 40px rgb(151, 243, 255),
	  0px 0px 100px rgb(151, 243, 255),
	  0px 0px 5px rgb(151, 243, 255);
	border: 2px solid rgb(255, 255, 255);
	background-color: rgb(146, 180, 184);
  }
  
  #checkbox:checked + .switch .powersign::before {
	background-color: rgb(146, 180, 184);
  }
  /* Works because it does, like magnets, no one knows how it works */
  
  .ar-tint {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(128, 0, 128, 0.5);
	z-index: 998;
	display: none;
  }
  
.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 15%;
	height: 100%;
	background-color: #EDF5E1;
	padding: 20px;
}
.images {
	text-align: right;
}
.content {
	margin-right: 25%;
	padding: 20px;
}
.subheader {
	font-size: 50;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 20px;
}
.information {
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	text-align: left;
}
.section1 {
	background-color: #8EE4AF;

}

.section2 {
	background-color: #379683;
}
.section3 {
	background-color: #8EE4AF;;
}

.section4 {
	background-color: #379683;
}
.section5 {
	background-color: #8EE4AF;;
}

.diagram {
	width: 100%;
	height: 300px;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #05386B;
	padding: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	text-decoration: none;
	color: beige;
	font-weight: bold;
}

nav a:hover {
	color: purple;
}
